<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--      <h3>I'm in the AppComponent!</h3>-->
<!--      <hr>-->
<!--      <app-servers></app-servers>-->
<!--&lt;!&ndash;      <div app-servers></div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="app-servers"></div>&ndash;&gt;-->
<!--    </div>-->

<!--  </div>-->

<!--</div>-->

<div class="container">
<app-cockpit></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
    <app-server-element *ngFor="let serverElement of serverElements"
    [element]="serverElement"
    ></app-server-element>
    </div>
  </div>
</div>

